<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="description" content="CM Message Console">
    <meta name="author" content="Fujitsu Canada">
    <link rel="stylesheet" href="resources/css/cm_water_conveyance.css">
    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css" />
    <script src="resources/bootstrap/js/bootstrap.min.js"></script>
    <script src="resources/js/lib/angular/angular.min.js"></script>
    <!-- Modules -->
    <script src="resources/js/app.js"></script>

    <!-- Controllers -->
    <script src="resources/js/controllers/MainController.js"></script>
</head>
<body ng-app="myApp">


<div class="container" ng-controller="MainController">
    <h3>Angular Starter With Data List and Modals</h3>
    <h4>Existing code below</h4>
    <ul class="list-unstyled">
        <li data-ng-repeat="product in products track by $index">
            <label class="customLabel" id="{{product.id}}">
                <a href="" ng-click="setSelectedItem($index)" data-toggle="modal" data-target="#detailsModal">{{product.title}} - {{product.category_name}}</a></label>
            <div class="pull-right actions">
                <a href="" class="trash" data-toggle="modal" data-target="#deleteModal" ng-click="setSelectedItem($index)">x</a>
            </div>
        </li>
    </ul>

    <h4>My code below</h4>
    <div class="list-unstyled">
        <div ng-repeat="product in products">
            <label>{{product.id}}</label>
            <label class="customLabel" id="{{product.id}}"><a href="" ng-click="setSelectedItem({{product}})" data-toggle="modal" data-target="#detailsModal">{{product.title}} - {{product.category_name}}</a></label>
            <div class="pull-right actions">
                <a href="" class="trash" data-toggle="modal" data-target="#deleteModal" ng-click="setSelectedItem({{product.id}})">x</a>
            </div>
        </div>
    </div>

    <div id="detailsModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">{{data[selectedItem].title}} Details</h4>
                </div>
                <div class="modal-body">
                    <div class="modalMsg"><p>id:{{data[selectedItem].id}} - {{data[selectedItem].desc}}</p></div>
                    <div class="actionsBtns">
                        <button class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/modal-->

    <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirm</h4>
                </div>
                <div class="modal-body">
                    <div class="modalMsg"><p>Are you sure want to remove item #{{selectedItem+1}}?</p></div>
                    <div class="actionsBtns">
                        <button class="btn btn-default" ng-click="deleteItem()" data-dismiss="modal">Yes</button>
                        <button class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/modal-->

</div><!--/container-->




</body>
</html>