<!doctype html>
<html>
<head>
    <link href="resources/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="resources/bootstrap/js/bootstrap.min.js"></script>
    <script src="resources/js/lib/angular/angular.min.js"></script>
    <script src="resources/js/lib/angular/angular-websocket.js"></script>

    <!-- Modules -->
    <script src="resources/js/app.js"></script>

    <!-- Controllers -->
    <script src="resources/js/controllers/MessageController.js"></script>
</head>
<body ng-app="myApp">
<div class="header">
    <div class="container">
        <h1>Invoke JMS to send new Message to Receiver.html</h1>
    </div>
</div>

<div class="main" ng-controller="MessageController">
    <div class="container">

        <h1>Send a new Message</h1>
        <form ng-submit="submit()">
            <input type="text" ng-model="username">
            <input type="text" ng-model="new_message" autofocus required>
            <button id="sendButton" type="submit">Send Message</button>
        </form>

        <!-- below is testing -->
        <div ng-repeat="message in Messages.collection | orderBy:'-timeStamp' track by $index">
            <b>{{ message.username | capitalize }}</b>: <small>{{ message.timeStamp | date:'medium' }}</small>
            <br>
            {{ message.content }}
            <br>
            <br>
        </div>

        <div id="output">

        </div>
        <!-- end of testing -->
    </div>
</div>

<!--<div class="footer">-->
<!--<div class="container">-->
<!--<h2>Available for iPhone and Android.</h2>-->
<!--<img src="http://s3.amazonaws.com/codecademy-content/projects/shutterbugg/app-store.png" width="120px" />-->
<!--<img src="http://s3.amazonaws.com/codecademy-content/projects/shutterbugg/google-play.png" width="110px" />-->
<!--</div>-->
<!--</div>-->


</body>
</html>
